# Description: Example of .env file
DEBUG=True
ALLOWED_HOSTS='127.0.0.1'

# Database
DB_ENGINE=django.db.backends.mysql
DB_NAME=accounting
DB_USER=accounting
DB_HOST=127.0.0.1
DB_PORT=3306
DB_PASSWORD=accounting

# Aws
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY